<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css" />
    <title>translit.io 🌐</title>
</head>
<body>
    <div class="translator-container">
        <div class="languages">
            <h1>Հայերեն</h1>
            <h1>English</h1>
        </div>
        <div class="box-container">
            <div class="box-wrapper">
                <textarea id="input" onkeyup="transliterate()" style="background-color: rgba(0, 0, 0, 0.3);" autofocus></textarea>
            </div>
            <div class="box-wrapper">
                <textarea id="output" onkeyup="" style="background-color: rgba(0, 0, 0, 0.5);" readonly></textarea>
            </div>
        </div>
        <div class="settings">
            <button type="button" class="settings-button copy-button" onclick="copyToClipboard()">
                <span class="button-text">Copy</span>
                <span class="button-icon">
                    <ion-icon name="copy-outline"></ion-icon>
                </span>
            </button>
            <button type="button" class="settings-button">
                <span class="button-text">Settings</span>
                <span class="button-icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
            </button>
        </div>
        
    </div>
    <div class="bottom">product of <a href="https://www.github.com/palanjian/" target="_blank">@palanjian</a> on GitHub!</div>
    <div class="hero-img"><img src ="img/arm.png" id="hero-img"></div>

    <!-- js scripts -->
    <script src="js/armenian.js"></script>
    <script src="js/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- js scripts -->
</body>
</html>