* {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.translator-container {
  position: relative;
  width: 60%;
  border-radius: 2rem;
  border: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 5px;
  overflow: hidden;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.translator-container textarea {
  resize: none;
  width: 100%;
  height: 100%;

  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 1%;
  flex-shrink: 0;
}

.languages h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color:rgba(255, 255, 255, 0.8);
    font-size: 45px;

}
.box-container {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  max-height: 70vh;
  flex-grow: 1;
  overflow-y: hidden;
}

.box-wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 50%;
}

.hero-img {
  position: fixed; 
  z-index: -1; 
  bottom: 10vh;
  left: 60vh;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  pointer-events: none; 
}

.bottom{
  position: fixed;
  left: 50%;
  bottom: 6%;
  color: white;
  align-items: center;
  transform: translate(-50%, -50%);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  color:rgba(255, 255, 255, 0.3);
  font-size: 30px;
}

.settings-button{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1%;
  margin-right: 1%;
  color: blue;
}
.settings-button button{
  width: 100px;
  z-index: 5;
}

html,
body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(245.69deg, #252b45 0%, #161a29 28.53%, #0e121a 75.52%); 
  /* background: linear-gradient(245.69deg, #f1f1f1 0%, #ffffff 28.53%, #e9e9e9 75.52%); */

  overflow: hidden;
}

a{
  color: brown;
}